In [2]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np


# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [3]:
# Descargamos el archivo
df = pd.read_csv('datos/merchant_fill.csv', index_col=0)
df.head(2)

,title,price,retail_price,units_sold,uses_ad_boosts,rating_sold,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,origin_country,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,product_url,product_id,listed_products,total_units_sold,mean_units_sold_per_product,rating_employee,merchant_ratings_count,mean_product_prices,mean_retail_prices,average_discount,mean_discount,mean_product_ratings_count
0,2020 Summer Vintage Flamingo Print Pajamas Se...,16.0,14,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,0,0,0,"Summer,Fashion,womenunderwearsuit,printedpajam...",white,M,Livraison standard,4,0,34,50,CN,zgrdejia,NaN,568,4.128521,595097d6a26f6e070cb878d1,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,5e9ae51d43d6a96e303acdb0,1,100,100.0,4.129,568.0,16.00,14.00,-14.0,-14.00,54.0
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,8.0,22,20000,1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,0,0,0,"Mini,womens dresses,Summer,Patchwork,fashion d...",green,XS,Livraison standard,2,0,41,50,CN,sarahouse,83 % avis positifs,17752,3.899673,56458aa03a698c35c9050988,https://www.wish.com/c/58940d436a0d3d5da4e95a38,58940d436a0d3d5da4e95a38,6,21400,3567.0,3.900,17752.0,5.68,10.33,38.0,37.83,1057.0

In [4]:
df.columns

Index(['title', 'price', 'retail_price', 'units_sold', 'uses_ad_boosts',
       'rating_sold', 'rating_count', 'rating_five_count', 'rating_four_count',
       'rating_three_count', 'rating_two_count', 'rating_one_count',
       'badge_local_product', 'badge_product_quality', 'badge_fast_shipping',
       'tags', 'product_color', 'product_variation_size_id',
       'shipping_option_name', 'shipping_option_price', 'shipping_is_express',
       'countries_shipped_to', 'inventory_total', 'origin_country',
       'merchant_name', 'merchant_info_subtitle', 'merchant_rating_count',
       'merchant_rating', 'merchant_id', 'product_url', 'product_id',
       'listed_products', 'total_units_sold', 'mean_units_sold_per_product',
       'rating_employee', 'merchant_ratings_count', 'mean_product_prices',
       'mean_retail_prices', 'average_discount', 'mean_discount',
       'mean_product_ratings_count'],
      dtype='object')

In [ ]:
#1.
df.groupby('origin_country')['units_sold'].sum('units_sold').reset_index()

  origin_country  units_sold
0             AT         100
1             CN     6651245
2             GB        1000
3             SG       20100
4             US       43560
5             VE         350

In [ ]:
#2.
df.groupby('countries_shipped_to')['price'].agg(['mean','max']).reset_index()

    countries_shipped_to       mean   max
0                      6   6.000000   6.0
1                      8   5.298333   6.0
2                      9   6.707500   8.0
3                     10  12.111429  18.0
4                     11   8.500000  12.0
..                   ...        ...   ...
89                   135   5.355000   7.0
90                   137   8.243333  11.0
91                   138   6.036667   9.0
92                   139   8.975000  13.0
93                   140   5.220000   7.0

[94 rows x 3 columns]

In [ ]:
#3.
df['title','badge_local_product'].value_counts()

badge_local_product
0    1544
1      29
Name: count, dtype: int64